
/* anime.js */
body{
    background-color: rgb(26, 25, 25);
}

#container, #buttonContainer{
    display: flex;
    justify-content: center;
}

h1{
    margin: 5rem .5rem 0;
    font-style: italic;
    color: rgb(141, 42, 141);
    
}

